
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor0: #0D0D0D;
    --cor1: #ffffff;
    --cor2: #014034;
    --cor3: #010221;
    --cor4: #252a2f;
    --font0: 'Montserrat';
}
* {
   margin: 0px;
    padding: 0px;
    
}
header {
    max-width: 100%;
    
    list-style: none;
    background-color: #18181a;
    
    font-weight: 500;
    font-size: 1.3em;
    text-align: right;
    height: 50px;
    padding-right: 30px;
}
li {
    position: relative;
    display: inline-block;
    padding-bottom: 11px;
    padding-top: 12px;
    
    transition: .5s;
    
    
}
li:hover {
    transform: scale(1.1);
    background-color: black;
}
li a {
    color: rgb(255, 255, 255);
    padding-right: 30px;
}
li ul {
    position: absolute;
    display: none;
    padding: 0px;
}
li:hover ul, li.over ul {
    display: block;
    list-style-type: none;
    text-align: left;
    background: #18181a;
    padding-top: 10px;
}
a {
    text-decoration: none;
    
}
div#primeirapag {
    height: 100vh;
    background-image: url('../imagens/coding-red.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Montserrat', 'roboto';
    
}
div#primeirapag h1 {
    color: white;
    padding-top: 190px;
    padding-left: 75px;
    font-size: 50px ;
    display: inline-block;
    
}
div#primeirapag p {
    color: white;
    padding-left: 75px;
    padding-top: 25px;
    font-size: 25px;
    display: inline-block;
    
}


section#responsivo {
    background-image:linear-gradient(to bottom left, #18181a, black) ;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#responsividade {
   
    color: white;
    font-family: var(--font0), 'roboto';
    font-size: 25px;
    
    
    
    
    
   
}
div#imgrespons {
    padding-right: 40px;
}

div#responsividade h1 {
    padding-top: -10px;
    padding-left: 30px;
    
    
    
}
div#responsividade p {
    font-size: 20px;
    padding-left: 30px;
    padding-top: 20px;
}


